<div class="product-viewer" oncontextmenu="return false">
  <div class="wrapper__title">
    <div class="wrapper__line">
      <a href="index.html" class="wrapper__line-main">Главная </a> <i>/</i
      ><span class="wrapper__line-brand"></span>
    </div>
  </div>
  <div class="wrapper_splide" oncontextmenu="return false">
    <div class="addToCart">Товар добавлен в корзину</div>
    <div class="wrapper__splide-left">
      <div class="slider-container" oncontextmenu="return false">
        <div id="image-slider" class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img class="splide__slide-img" data-slide-img="0" />
              </li>
              <li class="splide__slide">
                <img
                  class="splide__slide-img"
                  data-slide-img="1"
                  src="img/2.webp"
                />
              </li>
              <li class="splide__slide">
                <img
                  class="splide__slide-img"
                  data-slide-img="2"
                  src="img/3.webp"
                />
              </li>
              <li class="splide__slide">
                <img
                  class="splide__slide-img"
                  data-slide-img="3"
                  src="img/4.webp"
                />
              </li>
              <li class="splide__slide">
                <img
                  class="splide__slide-img"
                  data-slide-img="4"
                  src="img/5.webp"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="thumbnail">
          <img src="img/1.webp" class="thumbnail-img" data-thumb="0" />

          <img src="img/2.webp" class="thumbnail-img" data-thumb="1" />

          <img src="img/3.webp" class="thumbnail-img" data-thumb="2" />

          <img src="img/4.webp" class="thumbnail-img" data-thumb="3" />

          <img src="img/5.webp" class="thumbnail-img" data-thumb="4" />
        </div>
      </div>
    </div>
    <div class="wrapper__splide-right">
      <div class="wrapper__splide__product">
        <div class="wrapper__splide__articul">арт. CU8067 800</div>
        <div class="wrapper__splide-right-box">
          <div class="wrapper__splide__name"></div>
          <div class="wrapper__splide__price-box">
            <div class="wrapper__splide__price"></div>
            <span>₽</span>
          </div>
        </div>
        <div class="wrapper__splide-right-size">
          <span>Размер</span>
          <div class="wrapper__splide-size-detail"></div>
        </div>
      </div>
      <p class="wrapper__splide__tax">
        Все налоги и таможенные сборы включены. Стоимость доставки
        рассчитывается на этапе оформления заказа.
      </p>
      <a href="#" class="wrapper__splide__sizes">Таблица размеров</a>
      <div class="wrapper__splide__sizeBox">
        <a href="#" class="wrapper__splide__sizeBoxItem">US 4</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 4.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 5.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 6</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 6.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 7</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 7.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 8</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 8.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 9</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 9.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 10</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 10.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 11</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 11.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 12</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 12.5</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 13</a
        ><a href="#" class="wrapper__splide__sizeBoxItem">US 13.5</a>
      </div>
      <p class="wrapper__splide__desc">
        Данный товар доступен под заказ. Среднее время доставки: 15-20 рабочих
        дней.
      </p>
      <div class="wrapper__splide__btnBox">
        <a href="#" class="wrapper__splide__btnCart btn">В корзину</a>
        <button class="wrapper__splide__btnBuy btn">Купить в клик</button>
      </div>
      <div class="wrapper__splide__instruction">
        <details class="wrapper__splide__details">
          <summary class="wrapper__splide__summary">
            Гарантия лучшей цены
          </summary>

          Если вы нашли данную модель где-либо в наличии по более низкой цене —
          пришлите нам ссылку на данную модель в другом магазине. Мы будем рады
          предложить вам скидку, компенсирующую разницу в стоимости, и лучшую
          цену относительно конкурентов. Обратите внимание, что акция
          распространяется только на российские платформы.
        </details>
        <details class="wrapper__splide__details">
          <summary class="wrapper__splide__summary">
            Способы доставки и оплаты
          </summary>

          Доставка Доставка по Москве и Московской Области осуществляется до
          двери курьером магазина / курьером транспортных компаний в зависимости
          от вашего местоположения. Также доставка осуществляется транспортной
          компанией СДЭК / Почта России. Подробнее об условиях доставки можно
          узнать на этой странице. Оплата Мы принимаем платежи наличными или
          переводом по указанным реквизитам. Все платежи осуществляются путем
          выставления счета на электронную почту после завершения заказа. Оплата
          банковской картой будет доступна позже.
        </details>
        <details class="wrapper__splide__details">
          <summary class="wrapper__splide__summary">Обмен и возврат</summary>

          Вы можете обменять товар, купленный в нашем магазине, при соблюдении
          следующих условий: 1) С момента получения товара и на момент его
          обмена прошло не более 14 календарных дней; 2) Товар не был в
          употреблении (стиран, ношен); 3) Сохранены его товарный вид,
          потребительские свойства; 4) Фабричные ярлыки, в том числе КИЗ
          (контрольно-идентификационный знак) на товаре или его упаковке (в
          зависимости от того, что применимо) должны быть целыми, не мятыми и не
          повреждёнными. Больше информации можно найти на этой странице.
        </details>
      </div>
    </div>
  </div>
</div>
