<div class="wrapper_splide">
  <div class="wrapper__splide-left">
    <div class="slider-container">
      <div id="image-slider" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img src="img/1.webp" />
            </li>
            <li class="splide__slide">
              <img src="img/2.webp" />
            </li>
            <li class="splide__slide">
              <img src="img/3.webp" />
            </li>
            <li class="splide__slide">
              <img src="img/4.webp" />
            </li>
            <li class="splide__slide">
              <img src="img/5.webp" />
            </li>
          </ul>
        </div>
      </div>
      <div class="thumbnail">
        <img src="img/1.webp" data-thumb="0" />

        <img src="img/2.webp" data-thumb="1" />

        <img src="img/3.webp" data-thumb="2" />

        <img src="img/4.webp" data-thumb="3" />

        <img src="img/5.webp" data-thumb="4" />
      </div>
    </div>
  </div>
  <div class="wrapper__splide-right"></div>
</div>
