<div class="cardViewer">
  <div class="cardViewer__header">
    <div class="cardViewer__header-string">
      <a href="index.html" class="cardViewer__header-main">Главная</a
      ><span class="cardViewer__header-slash"
        >- &nbsp; &nbsp; / &nbsp; &nbsp; -</span
      >
      <span class="cardViewer__header-brand">Air Force</span>
    </div>
  </div>
  <div class="cardViewer__content">
    <div class="cardViewer__left">
      <div class="cardViewer__gallery">
        <div class="cardViewer__selectImg">
          <a class="cardViewer__arrowLeft" href="#">
            <svg class="icon">
              <use
                xlink:href="../img/symbol-defs.svg#icon-arrow-left"
              ></use></svg
          ></a>
          <a class="cardViewer__arrowRight" href="#">
            <svg class="icon">
              <use xlink:href="../img/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </a>
          <div class="cardViewer__box">
            <img
              class="cardViewer__box-item cardViewer__box-item-1"
              src="../img/orange-air-force-1-low-orange-skeleton.jpg"
              alt="img"
            />

            <img
              class="cardViewer__box-item cardViewer__box-item-2"
              src="../img/orange-air-force-1-low-orange-skeleton-2.webp"
              alt="img"
            />
            <img
              class="cardViewer__box-item cardViewer__box-item-3"
              src="../img/orange-air-force-1-low-orange-skeleton-3.jpg"
              alt="img"
            />
            <img
              class="cardViewer__box-item cardViewer__box-item-4"
              src="../img/orange-air-force-1-low-orange-skeleton-4.webp"
              alt="img"
            />
            <img
              class="cardViewer__box-item cardViewer__box-item-5"
              src="../img/orange-air-force-1-low-orange-skeleton-5.webp"
              alt="img"
            />
          </div>
        </div>
        <div class="cardViewer__selectList">
          <div class="cardViewer__selectItem">
            <img
              class="cardViewer__selectItemImg"
              data-img="1"
              src="../img/orange-air-force-1-low-orange-skeleton.webp"
              alt="img"
            />
          </div>
          <div class="cardViewer__selectItem">
            <img
              class="cardViewer__selectItemImg"
              data-img="2"
              src="../img/orange-air-force-1-low-orange-skeleton-2.avif"
              alt="img"
            />
          </div>
          <div class="cardViewer__selectItem">
            <img
              class="cardViewer__selectItemImg"
              data-img="3"
              src="../img/orange-air-force-1-low-orange-skeleton-3.jpg"
              alt="img"
            />
          </div>
          <div class="cardViewer__selectItem">
            <img
              class="cardViewer__selectItemImg"
              data-img="4"
              src="../img/orange-air-force-1-low-orange-skeleton-4.avif"
              alt="img"
            />
          </div>
          <div class="cardViewer__selectItem">
            <img
              class="cardViewer__selectItemImg"
              data-img="5"
              src="../img/orange-air-force-1-low-orange-skeleton-5.webp"
              alt="img"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cardViewer__right">
      <div class="cardViewer__product">
        <div class="cardViewer__articul">арт. CU8067 800</div>
        <div class="cardViewer__name">Air Force 1 Low "Orange Skeleton"</div>
        <div class="cardViewer__price-box">
          <div class="cardViewer__price">30 000</div>
          <span>₽</span>
        </div>
      </div>
      <p class="cardViewer__tax">
        Все налоги и таможенные сборы включены. Стоимость доставки
        рассчитывается на этапе оформления заказа.
      </p>
      <a href="#" class="cardViewer__sizes">Таблица размеров</a>
      <div class="cardViewer__sizeBox">
        <a href="#" class="cardViewer__sizeBoxItem">US 4</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 4.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 5.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 6</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 6.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 7</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 7.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 8</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 8.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 9</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 9.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 10</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 10.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 11</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 11.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 12</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 12.5</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 13</a
        ><a href="#" class="cardViewer__sizeBoxItem">US 13.5</a>
      </div>
      <p class="cardViewer__desc">
        Данный товар доступен под заказ. Среднее время доставки: 15-20 рабочих
        дней.
      </p>
      <div class="cardViewer__btnBox">
        <a href="#" class="cardViewer__btnCart btn">В корзину</a>
        <button class="cardViewer__btnBuy btn">Купить в клик</button>
      </div>
      <div class="cardViewer__instruction">
        <details class="cardViewer__details">
          <summary class="cardViewer__summary">Гарантия лучшей цены</summary>

          Если вы нашли данную модель где-либо в наличии по более низкой цене —
          пришлите нам ссылку на данную модель в другом магазине. Мы будем рады
          предложить вам скидку, компенсирующую разницу в стоимости, и лучшую
          цену относительно конкурентов. Обратите внимание, что акция
          распространяется только на российские платформы.
        </details>
        <details class="cardViewer__details">
          <summary class="cardViewer__summary">
            Способы доставки и оплаты
          </summary>

          Доставка Доставка по Москве и Московской Области осуществляется до
          двери курьером магазина / курьером транспортных компаний в зависимости
          от вашего местоположения. Также доставка осуществляется транспортной
          компанией СДЭК / Почта России. Подробнее об условиях доставки можно
          узнать на этой странице. Оплата Мы принимаем платежи наличными или
          переводом по указанным реквизитам. Все платежи осуществляются путем
          выставления счета на электронную почту после завершения заказа. Оплата
          банковской картой будет доступна позже.
        </details>
        <details class="cardViewer__details">
          <summary class="cardViewer__summary">Обмен и возврат</summary>

          Вы можете обменять товар, купленный в нашем магазине, при соблюдении
          следующих условий: 1) С момента получения товара и на момент его
          обмена прошло не более 14 календарных дней; 2) Товар не был в
          употреблении (стиран, ношен); 3) Сохранены его товарный вид,
          потребительские свойства; 4) Фабричные ярлыки, в том числе КИЗ
          (контрольно-идентификационный знак) на товаре или его упаковке (в
          зависимости от того, что применимо) должны быть целыми, не мятыми и не
          повреждёнными. Больше информации можно найти на этой странице.
        </details>
      </div>
    </div>
  </div>
</div>
