<div class="cart cart__transform">
  <div class="cart__close">
    <svg class="icon cart__icon-close">
      <use xlink:href="img/symbol-defs.svg#icon-cross"></use>
    </svg>
  </div>

  <!--   <div class="cart__close-absolute">
    <svg class="icon cart__icon-close">
      <use xlink:href="img/symbol-defs.svg#icon-cross"></use>
    </svg>
  </div> -->

  <div class="cart__content">
    <div class="cart__order">
      <ul class="cart__list">
        <li class="cart__item">
          <span class="cart__item-number">1</span>

          <div class="cart__item-name">New Balance Protection Pack Grey</div>
          <div class="cart__item-price">28 000 Р</div>

          <div class="cart__item-img">
            <img
              class="cart__item-img-item"
              src="img/2002r-protection-pack-grey.jpg"
              alt="img"
            />
          </div>
        </li>
      </ul>
      <div class="cart__summary">
        <span class="cart__all">Итого:</span>
        <div class="cart__sum">28 000 Р</div>
      </div>
    </div>

    <form action="#" class="cart__contact">
      <h2 class="cart__title">Контактная информация</h2>
      <input
        type="text"
        name="cart__customer"
        id="cart__customer"
        class="cart__cuctomer"
        placeholder="Ваше имя"
      />
      <input
        type="text"
        name="cart__address"
        id="cart__address"
        class="cart__address"
        placeholder="Ваш адрес"
      />
      <input
        type="email"
        name="cart__email"
        id="cart__email"
        class="cart__email"
        placeholder="Ваш Email"
      />
      <input
        class="cart__phone"
        type="text"
        name="cart__phone"
        id="cart__phone"
        placeholder="Контактный номер"
      />
      <div class="cart__connection">
        <label for="" class="cart__conopt"> Как лучше с вами связаться? </label>
        <div class="cart__radio-watsapp">
          <input
            type="radio"
            class="cart__whatsapp"
            name="cart__link"
            id="cart__whatsapp"
          />
          <span>По Whatsapp</span>
        </div>
        <div class="cart__radio-telegram">
          <input
            type="radio"
            class="cart__telegram"
            name="cart__link"
            id="cart__telegram"
          /><span>По Telegram</span>
        </div>
      </div>

      <div class="cart__additional">
        <div class="cart__agrrement">
          <input
            class="cart__agree"
            type="radio"
            name="cart__agree"
            id="cart__agree"
          />
          <div class="cart__agreement-txt">
            Нажимая на кнопку, вы даёте согласие на обработку Ваших персональных
            данных и соглашаетесь с
            <a href="#">
              условием пользовательского соглашения и политикой
              конфиденциальности.</a
            >
          </div>
        </div>
      </div>
      <div class="cart__footer">
        <a href="neworder.html" class="btn cart__btnconfirm">
          Перейти к оформлению
        </a>
      </div>
    </form>
  </div>
</div>
