<div class="cartpage">
  <div class="cartpage__content">
    <h2 class="cartpage__title">Корзина</h2>

    <div class="cartpage__box">
      <div class="cartpage__left">
        <div class="cartpage__card">
        <div class="cartpage__close" title="Удалить заказ">x</div>
          <img class="cartpage__img" src="img/2002r-protection-pack-grey.jpg" alt="img" />
          <div class="cartpage__card-details">
            <h2 class="cartpage__name">2002R "Protection Pack - Rain Cloud"</h2>
            <span class="cartpage__price">39 000 ₽</ыз>
            <div class="cartpage__quantity">
                <a href="#" class="min">-</a>
                <span href="#" class="num">1</span>
                <a href="#" class="plus">+</a>
            </div>
          </div>
          <h2 class="cartpage__item-sumprice">39 000 ₽</h2>
        </div>
        <div class="cartpage__card">
        <div class="cartpage__close">x</div>
          <img class="cartpage__img" src="img/2002r-protection-pack-grey.jpg" alt="img" />
          <div class="cartpage__card-details">
            <h2 class="cartpage__name">2002R "Protection Pack - Rain Cloud"</h2>
            <span class="cartpage__price">39 000 ₽</ыз>
            <div class="cartpage__quantity">
                <a href="#" class="min">-</a>
                <span href="#" class="num">1</span>
                <a href="#" class="plus">+</a>
            </div>
          </div>
          <h2 class="cartpage__item-sumprice">39 000 ₽</h2>
        </div>
      </div>
      <div class="cartpage__right">
        <div class="cartpage__right-top">
            <div class="cartpage__sum-title">Итого:</div>
            <div class="cartpage__sum-price">39 000 ₽</div>
        </div>
        <div class="cartpage__right-footer">
            <a href="neworder.html" class=" cartpage__btn">Оформить заказ</a>
        </div>
      </div>
    </div>
  </div>
</div>
