<header class="header">
  <div class="header__content">
    <div class="header__top">
      <div class="header__hamburger">
        <svg class="icon header__icon">
          <use xlink:href="img/symbol-defs.svg#icon-menu"></use>
        </svg>
        <span class="header__span-menu"> Menu</span>
      </div>
      <div class="header__brand">
        <a class="header__home" href="index.html">
          <div class="header__logo">
            <img src="img/logo-rs.PNG" alt="logo" />
          </div>
        </a>
        <div class="header__brand-search">
          <input class="header__brand-searchTXT" type="text" name="" id="" />
          <button class="header__brand-btn">
            <svg class="icon header_brand-icon">
              <use xlink:href="img/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="header__action">
        <svg class="icon header__icon header__icon--search">
          <use xlink:href="img/symbol-defs.svg#icon-search"></use>
        </svg>
        <div class="header__icon-cart-item">
          <a class="header__icon-cart-box" href="neworder.html">
            <svg class="icon header__icon header__icon--cart">
              <use xlink:href="img/symbol-defs.svg#icon-shopping-cart"></use>
            </svg>
          </a>
          <span class="header__icon-cart-piece">1</span>
        </div>
      </div>
    </div>
    <div class="header__footer">
      <ol class="header__menu">
        <li class="header__menu-item header__menu-item--main">
          <a href="#" class="header__menu-link">Главная</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Новые поступления</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link">Акции </a>
        </li>

        <li class="header__menu-item">
          <a href="yeezy.html" class="header__menu-link" data-brand="yeezy"
            >YEEZY &#9661;</a
          >

          <div class="header__menu-content" data-brandID="1">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">YEEZY 350</li>
              <li class="header__menu-list-item">YEEZY 380</li>
              <li class="header__menu-list-item">YEEZY 450</li>
              <li class="header__menu-list-item">YEEZY 500</li>
              <li class="header__menu-list-item">YEEZY 700</li>
              <li class="header__menu-list-item">desert boot</li>
              <li class="header__menu-list-item">Yeezy foam</li>
              <li class="header__menu-list-item">Yeezy slide</li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a href="nike.html" class="header__menu-link" data-brand="nike"
            >Nike &#9661;</a
          >
          <div class="header__menu-content" data-brandID="2">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">Dunk</li>
              <li class="header__menu-list-item">AirForce 1</li>
              <li class="header__menu-list-item">Nike & Sacal</li>
              <li class="header__menu-list-item">Air Max</li>
              <li class="header__menu-list-item">Nike X OFF-White</li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a href="jordan.html" class="header__menu-link" data-brand="jordan"
            >Jordan &#9661;</a
          >
          <div class="header__menu-content" data-brandID="3">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">Air jordan 1</li>
              <li class="header__menu-list-item">Air jordan 3</li>
              <li class="header__menu-list-item">Air jordan 4</li>
              <li class="header__menu-list-item">Air jordan 5</li>
              <li class="header__menu-list-item">Air jordan 6</li>
              <li class="header__menu-list-item">Air jordan 11</li>
              <li class="header__menu-list-item">Air jordan 13</li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a
            href="newbalance.html"
            class="header__menu-link"
            data-brand="newbalance"
            >New balance &#9661;</a
          >
          <div class="header__menu-content" data-brandID="4">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">530</li>
              <li class="header__menu-list-item">550</li>
              <li class="header__menu-list-item">574</li>
              <li class="header__menu-list-item">650R</li>
              <li class="header__menu-list-item">827</li>
              <li class="header__menu-list-item">2002R</li>
              <li class="header__menu-list-item">990</li>
              <li class="header__menu-list-item">991</li>
              <li class="header__menu-list-item">992</li>
              <li class="header__menu-list-item">9060</li>
              <li class="header__menu-list-item">XC-72</li>
              <li class="header__menu-list-item">1906D</li>
              <li class="header__menu-list-item">1906R</li>
              <li class="header__menu-list-item">997</li>
              <li class="header__menu-list-item">Ct302</li>
              <li class="header__menu-list-item">327</li>
              <li class="header__menu-list-item">993</li>
              <li class="header__menu-list-item">FuelCell</li>
              <li class="header__menu-list-item">Rc</li>
              <li class="header__menu-list-item">920</li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a href="clothes.html" class="header__menu-link" data-brand="clothes"
            >Одежда &#9661;</a
          >
          <div class="header__menu-content" data-brandID="5">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">Travis scott</li>
              <li class="header__menu-list-item">supreme</li>
              <li class="header__menu-list-item">fear of god</li>
              <li class="header__menu-list-item">carhartt wip</li>
              <li class="header__menu-list-item">chrome hearts</li>
              <li class="header__menu-list-item">jordan</li>
              <li class="header__menu-list-item">kith</li>
            </ul>
          </div>
        </li>
        <li class="header__menu-item">
          <a href="kaws.html" class="header__menu-link" data-brand="toys"
            >Коллекционные фигурки &#9661;</a
          >

          <div class="header__menu-content" data-brandID="5">
            <ul class="header__menu-list">
              <li class="header__menu-list-item">Kaws</li>
              <li class="header__menu-list-item">Medicom toy</li>
            </ul>
          </div>
        </li>

        <!-- 	&#10225; -->
      </ol>
    </div>
    <!-- <div class="header__footer-search">
      <div class="header__footer-search-box">
        <input class="header__brand-searchTXT" type="text" name="" id="" />
        <button class="header__brand-btn">
          <svg class="icon header_brand-icon">
            <use xlink:href="img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </div> -->
  </div>
</header>
