<div class="jordan" id="jordan">
  <h2 class="jordan__title">AIR JORDAN 4</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-jordan-4-retro-red-thunder.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 4 Retro "Red Thunder"</h2>
          <span class="card__brand"> Jordan</span>
          <span class="card__price">От 48 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html"
        ><div class="img">
          <img src="img/air-jordan-4-a-ma-maniere-violet-ore.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">
            Air Jordan 4 Retro "A Ma Maniére - Violet Ore"
          </h2>
          <span class="card__brand"> Jordan</span>
          <span class="card__price">От 52 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-jordan-4-midnight-navy.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 4 Retro "Midnight Navy"</h2>
          <span class="card__brand"> Jordan</span>
          <span class="card__price">От 34 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-jordan-4-retro-zen-master.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 4 Retro "Zen Master"</h2>
          <span class="card__brand"> Jordan</span>
          <span class="card__price">От 44 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/DB0732200_1.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 4 Retro "Taupe Haze"</h2>
          <span class="card__brand"> Jordan</span>

          <span class="card__price">От 61 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/DQ4909-100.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 4 Retro WMNS "Blank Canvas"</h2>
          <span class="card__brand">New Balance</span>
          <span class="card__price">От 51 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="jordan__action">
    <div class="jordan__arrows">
      <div class="jordan__btn jordan__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="jordan__btn jordan__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn">Посмотреть всё</button>
  </div>
</div>
