<div class="kaws" id="kaws">
  <h2 class="kaws__title">Kaws</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image_1432.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">THE PROMISE Vinyl Figure "Brown"</h2>
          <span class="card__brand"> kaws</span>
          <span class="card__price">От 60 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image_1429.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Family Vinyl Figures "Grey Pink"</h2>
          <span class="card__brand"> kaws</span>
          <span class="card__price">От 100 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/medium_image_1435.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">
            Companion Flayed Open Edition Vinyl Figure "Brown"
          </h2>
          <span class="card__brand"> kaws</span>
          <span class="card__price">От 70 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image_1433.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Holiday Singapore Companion "Black"</h2>
          <span class="card__brand"> kaws</span>
          <span class="card__price">От 74 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image_1436.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">
            Companion Flayed Open Edition Vinyl Figure "Blush"
          </h2>
          <span class="card__brand"> kaws</span>

          <span class="card__price">От 55 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image_1437.png" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">BFF Open Edition Vinyl Figure "Black"</h2>
          <span class="card__brand">New Balance</span>
          <span class="card__price">От 40 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="kaws__action">
    <div class="kaws__arrows">
      <div class="kaws__btn kaws__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="kaws__btn kaws__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn">Посмотреть всё</button>
  </div>
</div>
