<div class="nbalance" id="nbalance">
  <h2 class="nbalance__title">New balance</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/BB550WT1.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">550 "White Green"</h2>
          <span class="card__brand"> New balance</span>
          <span class="card__price">От 30 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img
            src="img/MR530EWB_09bf2e9d-21ce-40fd-a6b3-a985ebba3dc4.jpg"
            alt="img"
          />
        </div>
        <div class="card__text">
          <h2 class="card__name">530 "White Black Details"</h2>
          <span class="card__brand"> New balance</span>
          <span class="card__price">От 28 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/BB550WTG.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">550 "White Grey Dark Grey"</h2>
          <span class="card__brand"> New balance</span>
          <span class="card__price">От 28 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/mr530kc.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">530 "Steel Blue"</h2>
          <span class="card__brand">New balance</span>
          <span class="card__price">От 22 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/image.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">9060 "Sea Salt"</h2>
          <span class="card__brand">New balance</span>
          <span class="card__price">От 40 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/new-balance-2002r-protection-pac.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">2002R "Protection Pack - Sea Salt"</h2>
          <span class="card__brand">New Balance</span>
          <span class="card__price">От 40 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="nbalance__action">
    <div class="nbalance__arrows">
      <div class="nbalance__btn nbalance__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="nbalance__btn nbalance__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn">Посмотреть всё</button>
  </div>
</div>
