<div class="nike" id="nike">
  <h2 class="nike__title">Nike</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-force-1-low-tiffany-and-co.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Force 1 Low "Tiffany & Co. 1837"</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 138 000 ₽</span>
        </div></a
      >
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img
            src="img/air-force-1-low-travis-scott-cactus-jack.jpg"
            alt="img"
          />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Force 1 Low Travis Scott - Cactus Jack</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 71 000₽</span>
        </div></a
      >
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/sb-dunk-low-concepts-orange-lobster.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">SB Dunk Low "Concepts - Orange Lobster"</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 45 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/AirForce1GTXGore-Tex.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Force 1 GTX Gore-Tex - Dynamic Yellow</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 44 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="nike__action">
    <div class="nike__arrows">
      <div class="nike__btn nike__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="nike__btn nike__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <a href="nike.html" class="btn">Посмотреть всё</a>
  </div>
</div>
