<div class="promo" id="promo">
  <h2 class="promo__title">АКЦИИ</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html ">
        <div class="img">
          <img src="img/air-jordan-1-mid-se-gs-french-blue.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">
            Air Jordan 1 Mid SE GS "French Blue Light Steel"
          </h2>
          <span class="card__brand">Jordan</span>
          <span class="card__price">От 26 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html"
        ><div class="img">
          <img src="img/air-jordan-1-mid-utl-gs-fleece.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 1 Mid GS "Fleece Pearl White"</h2>
          <span class="card__brand">Jordan</span>
          <span class="card__price">От 18 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-jordan-1-low-gs-light-arctic-pink.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 1 Low GS "Light Arctic Pink"</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 34 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/mr530sg.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">530 "White Silver Navy""</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 20 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/DD1666100_1.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 1 Mid GS "Paint Drip"</h2>
          <span class="card__brand">Jordan</span>
          <span class="card__price">От 30 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/MR530KA (1).jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">530 "Steel Grey"</h2>
          <span class="card__brand">New Balance</span>
          <span class="card__price">От 23 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="promo__action">
    <div class="promo__arrows">
      <div class="promo__btn promo__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="promo__btn promo__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn">Посмотреть всё</button>
  </div>
</div>
