<div class="receipt" id="receipt">
  <h2 class="receipt__title">НОВЫЕ ПОСТУПЛЕНИЯ</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/2002r-protection-pack-grey.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">2002R "Protection Pack - Rain Cloud</h2>
          <span class="card__brand">NEW BALANCE</span>
          <span class="card__price">От 27 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-force-1-low-tiffany-and-co.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Force 1 Low Tiffany & Co. 1837</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 138 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/air-jordan-1-high-og-true-blue.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 1 Retro High OG True Blue</h2>
          <span class="card__brand">Jordan</span>
          <span class="card__price">От 30 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/IMG_0620.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Air Jordan 1 Low WMNS Unity</h2>
          <span class="card__brand">Jordan</span>
          <span class="card__price">От 30 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img
            src="img/air-jordan-1-low-og-ts-travis-scott-black-phantom.jpg"
            alt="img"
          />
        </div>
        <div class="card__text">
          <h2 class="card__name">
            Air Jordan 1 Retro Low OG SP Travis Scott - Black Phantom
          </h2>
          <span class="card__brand">JORDAN</span>
          <span class="card__price">От 86 000 ₽</span>
        </div>
      </a>
    </li>
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/sb-dunk-low-concepts-orange-lobster.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">SB Dunk Low Concepts - Orange Lobster</h2>
          <span class="card__brand">Nike</span>
          <span class="card__price">От 45 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="receipt__action">
    <div class="receipt__arrows">
      <div class="receipt__btn receipt__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="receipt__btn receipt__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
