<div class="yeezy" id="yeezy">
  <h2 class="yeezy__title">Yeezy</h2>

  <ul class="carousel">
    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/Yeezy-Boost-350-V2-Mono-Mist.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 "Mono Mist"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 28 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html"
        ><div class="img">
          <img src="img/yeezy-350-boost-v2-cmpct-slate-carbon.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 CMPCT "Slate Carbon"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 29 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img
            src="img/yeezy-boost-350-v2-desert-sage_79f64bce-df52-474d-a9e5-4c7a8f5b1c0b.jpg"
            alt="img"
          />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 "Desert Sage"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 35 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/yeezy-boost-350-v2-mx-rock.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 "MX Rock"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 37 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/Yeezy_Boost_Carbon.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 "Carbon"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 37 000 ₽</span>
        </div>
      </a>
    </li>

    <li class="card" oncontextmenu="return false">
      <a class="card__link" href="productview.html">
        <div class="img">
          <img src="img/yeezy-boost-350-v2-zyon.jpg" alt="img" />
        </div>
        <div class="card__text">
          <h2 class="card__name">Yeezy Boost 350 V2 "Zyon"</h2>
          <span class="card__brand">ADIDAS</span>
          <span class="card__price">От 38 000 ₽</span>
        </div>
      </a>
    </li>
  </ul>

  <div class="yeezy__action">
    <div class="yeezy__arrows">
      <div class="yeezy__btn yeezy__icon--left" id="left">
        <svg class="left" title="Влево">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="yeezy__btn yeezy__arrow-rgt">
        <svg class="right" title="Право">
          <use xlink:href="img/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
    <button class="btn">Посмотреть всё</button>
  </div>
</div>
