@charset "UTF-8";

:export {
    primaryColor: #000000;
    secondaryColor: #ffffff;
    thirdColor: #f8f8f8;
    navColor: #d8d8d8;
    hoverColor: rgb(187, 215, 226);
    breakpointSmall: 460px;
    breakpointMobile: 640px;
    breakpointTablet: 768px;
    breakpointDesktop: 1200px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    position: relative;
}

.shadow {
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.43) !important;
}

.hide {
    display: none !important;
}

.visible {
    display: block !important;
}

.nav {
    padding: 0rem 2rem 2rem 2rem;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #eeebdc;
    width: 30%;
    height: 100vh;
    transition: 0.3s;
  /* 	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: 1fr;
  	align-items: flex-start; */
}

.nav__content {
    position: sticky;
    top: 0;
}

.nav__close-box {
    display: none;
    justify-content: flex-end;
    padding: 2rem 0;
    border-bottom: 0.1px solid rgb(43, 113, 183);
}

.nav__close-box-icon {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    transition: 0.2s;
}

.nav__close-box-icon:hover {
    cursor: pointer;
    scale: 1.1;
}

.nav__search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.nav__icon-link {
    text-decoration: none;
}

.nav__icon-search {
    fill: #000000;
    width: 2rem;
    height: 2rem;
}

.nav__search-input {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.2s;
}

.nav__search-input:focus {
    width: 55%;
    padding: 1rem 1.5rem;
}

.nav__close {
    position: absolute !important;
    right: -9rem;
    top: 1rem;
    padding: 1.4rem;
    border-radius: 50%;
    background-color: #eeebdc;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__close:hover {
    cursor: pointer;
}

.nav__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #000000;
}

.nav__transform {
    transform: translateX(-150%);
}

.nav__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 35%;
}

.nav__sub-title {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.nav__item {
    padding-bottom: 1rem;
}

.nav__menu-nav {
    height: 100%;
    width: 100%;
    background-color: #eeebdc !important;
}

.nav__list {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.nav__list-link {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
    position: relative;
    display: inline-block;
}

.nav__list-link:hover {
    transform: translateX(1rem);
    font-weight: 600;
    text-shadow: 1rem 1rem 3rem rgb(12, 7, 7);
}

.nav__contact {
    border-bottom: 1px solid #ccc;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #eeebdc;
}

.nav__contact-title {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.35rem;
    font-weight: 600;
}

.nav__contact-phones {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
}

.nav__contact-phone {
    padding-right: 2rem;
}

.nav__contact-address {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem 0;
}

.nav__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #eeebdc;
    z-index: 6;
}

.nav__menu-title {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.nav__menu-item {
    position: relative;
    transition: 0.2s;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 1rem 0;
}

.nav__menu-content {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    display: none;
    transition: 0.2s;
}

.nav__menu-content:active {
    display: block;
}

.nav__menu-list {
    list-style: none;
    display: block;
    width: -moz-max-content;
    width: max-content;
    opacity: 1;
    transition: 0.3s;
    padding: 1rem;
}

.nav__menu-list-item {
    padding: 1rem;
    transition: 0.2s;
    text-transform: uppercase;
}

.nav__menu-list-item:hover {
    background-color: rgb(187, 215, 226);
    border-radius: 10px;
    scale: 1.1;
    font-weight: 500;
    cursor: pointer;
}

.nav__menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    transition: 0.3s;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  /*      &:disabled + div{
           display: none;
       } */
}

.nav__menu-link:hover {
    cursor: pointer;
}

.nav__menu-link:active, .nav__menu-link:focus + div {
    display: block;
}

.page {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
}

.header__hamburger {
    display: flex;
    align-items: center;
}

.header__hamburger span {
    font-size: 1.4rem;
    font-weight: 600;
}

.header__logo {
    width: 5rem;
    height: 5rem;
}

.header__logo img {
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.header__logo img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3rem;
    width: 1440px;
    transition: 0.2s;
}

.header__brand {
    font-size: 2.7rem;
    display: flex;
    align-items: center;
}

.header__brand span {
    margin-right: 3rem;
}

.header__icon {
    margin-right: 2rem;
    opacity: 0.9;
}

.header__icon:hover {
    cursor: pointer;
}

.header__footer {
    margin-top: 5rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
}

.header__menu-item {
    position: relative;
    transition: 0.2s;
}

.header__menu-content {
    display: block;
    position: absolute;
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    top: 2.2rem;
    left: 0;
    opacity: 0;
    display: none;
    transition: 0.2s;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.header__menu-content:hover {
    opacity: 1;
    display: block;
}

.header__menu-content::before {
    content: "";
    position: absolute;
 /* Абсолютное позиционирование */
    left: 20px;
    top: -1rem;
 /* Положение треугольника */
    border: 5px solid transparent;
    border-bottom: 5px solid rgb(1, 35, 73);
}

.header__menu-content::after {
    content: "";
    position: absolute;
 /* Абсолютное позиционирование */
    left: 20px;
    top: -1rem;
 /* Положение треугольника */
    border: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.header__menu-list {
    list-style: none;
    display: block;
    width: -moz-max-content;
    width: max-content;
    overflow-x: hidden;
    padding: 1rem 0;
    transition: 0.3s;
}

.header__menu-list-item {
    padding: 1rem 3rem;
    transition: 0.2s;
    text-transform: uppercase;
}

.header__menu-list-item:first-child {
    border-radius: 10px 10px 0 0;
}

.header__menu-list-item:last-child {
    border-radius: 0 0 10px 10px;
}

.header__menu-list-item:hover {
    background-color: rgb(187, 215, 226);
    scale: 1.1;
    font-weight: 500;
    cursor: pointer;
}

.header__menu-item {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 2rem;
}

.header__menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}

.header__menu-link::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 20rem;
    height: 10rem;
}

.header__menu-link:hover {
    background-color: rgb(187, 215, 226);
    cursor: pointer;
    border-radius: 20px;
}

.header__menu-link:hover + div {
    display: block;
    opacity: 1;
}

/* .section {
	padding: 3rem 0;
	height: max-content;
	text-align: center;
	width: 100%;
	background-color: #f8f8f8;
}
 */
.sec {
    height: -moz-max-content;
    height: max-content;
    text-align: center;
    width: 100%;
    background-color: #f8f8f8;
}

.sec__title {
    font-size: 2.76rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 4rem;
}

.sec__gallery {
    width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: max-content;
    justify-content: flex-start;
    overflow: hidden;
    transition: 0.2s;
}

.sec__item-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #000000;
}

.sec__img {
    width: 100%;
    height: 100%;
    transition: 0.2s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec__img-air {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.sec__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.2s;
}

.sec__img:hover {
    cursor: pointer;
}

.sec__img:hover + figcaption {
    opacity: 0.5;
}

.sec__name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

.sec__price {
    color: #000000;
    font-size: 1.5rem;
}

.sec__brand {
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(154, 154, 154);
    text-transform: uppercase;
}

.sec__action {
    text-align: center;
    padding: 5rem 0;
}

.boxsimle {
    position: absolute;
}

.row {
    max-width: 1440px;
    border: 1px solid black;
}

.btn {
    padding: 1rem 2rem;
    background-color: #ffe598;
    color: #000000;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1.45rem;
    border: 0.5px solid gray;
    outline: none;
}

.btn:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.intro {
    padding-top: 20rem;
    padding-bottom: 4rem;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
}

.intro__box {
    flex: none;
    transition: 0.8s;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    animation: boxMove;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.45, 1, 0.45, 1);
    animation-iteration-count: infinite;
}

.intro__box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.intro__box img:hover {
    cursor: pointer;
}

@keyframes boxMove {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.icon {
    fill: #000000;
    width: 3rem;
    height: 3rem;
}

/* $breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-mid: 1000px;
$breakpoint-desktop-mid: 1200px;
$breakpoint-desktop: 1440px; */
@media (max-width: 1440px) {
    .sec__gallery {
        width: 1200px;
        grid-template-columns: repeat(4, 33.3%);
    }

    .header__top {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .sec__gallery {
        width: 1092px;
        grid-template-columns: repeat(4, 50%);
    }

    .header__top {
        width: 1092px;
        padding: 0.5rem;
    }
}

@media (max-width: 1092px) {
    html {
        font-size: 57%;
    }

    .nav {
        width: 98vw;
        height: 100vh;
    }

    .nav__close {
        display: none;
    }

    .nav__close-box {
        display: flex;
    }

    .nav__search {
        width: 80%;
    }

    .nav__icon-search {
        width: 3rem;
        height: 3rem;
    }

    .nav__menu {
        display: flex !important;
    }

    .header__icon--search {
        display: none;
    }

    .header__footer {
        display: none;
    }

    .intro {
        padding-top: 8rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }

    .sec__name {
        font-weight: 500;
    }

    .sec__gallery {
        width: 768px;
        grid-template-columns: repeat(4, 50%);
    }

    .header__top {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .sec__gallery {
        width: 620px;
        grid-template-columns: repeat(4, 45%);
    }

    .header__top {
        width: 620px;
    }
}

@media (max-width: 620px) {
    html {
        font-size: 50%;
    }

    .sec__gallery {
        width: 480px;
        grid-template-columns: repeat(4, 45%);
    }

    .header__top {
        width: 480px;
    }
}